.shop_item{
    height: fit-content;
    width: 100%;
    position:relative;
    left: 0;
    /* bottom: 3rem; */
    /* margin: 1rem;
    padding: 1rem; */
    background: transparent;
    /* background: black; */
}

.shop_item >  .shopitem_container{
    height: 160px;
    width: 120px;
    position: relative;
    right:0;
    margin: 3rem;
    background: var(--color-light-blue);

    border-style: ridge;
}

.shop_item >  .shopitem_container > h2{
    color: white;
    font-size:medium;
    margin: 10px;
}

.shop_item >  .shopitem_container > .cost_bg{
    /* background-color:aqua; */
    position: absolute;
    height: 18%;
    width: 100%;
    bottom: 0;
}

.shop_item >  .shopitem_container > .cost_bg > .cost_text{
    color: white;
    font-size:medium;
    font-weight: bold;
    text-align: center;
}

.shop_item >  .shopitem_container > img{
    height: 50%;
    width: 50%;
    left: 1rem;
    margin-inline: auto;
}
