.gift-container{
    height: fit-content;
    width: 110px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.gift-container > h4 {
    color: var(--color-darkish-blue);
    word-wrap: break-word;
}

.gift-container > .giftbtn{
    height: 100px;
    width: 110px;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: var(--color-white);
    overflow: hidden;
}

.gift-container > .giftbtn > img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--color-dark-purple);
}