.battletask-container{
    min-height: 75px;
    min-width: 20%;
    max-height: 75px;
    filter: drop-shadow(8px 8px 8px #000);
    transition: var(--transition-cubicbezier);
    justify-content: baseline;
    align-items: center;
}

.battletask-container > h5{
    text-align: start;
    max-width: 50%;
    max-height: 70%;
    overflow: scroll;
    text-decoration-color: var(--color-reddish);
}

.battletask-container > .btn{
    width: 10%;
    height: 40px;
}
::-webkit-scrollbar{
    display: none;
}