.battletaskbox-container > .box{
    height: 20%;
    width: 90%;
    top: 90%;
    left: 4.5rem;
    /* background: var(--color-darkish-blue) ; */
    background: #5f6f944a;
    backdrop-filter: blur(3px);
    border: 5px solid var(--color-reddish);

    animation: battletaskbox-intro;
    animation-duration: 1s;
    animation-timing-function: var(--transition-cubicbezier);
    animation-iteration-count: 1;
}

@keyframes battletaskbox-intro{
    from{
        filter: blur(10px);
        transform: translateY(100%);
        opacity: 0;
    }

    to{
        filter: blur(0px);
        transform: translateY(0);
        opacity: 1;
    }
}
