.shoppage_container>.background {
    background-color: #2F283A;
    background-image: url(../../assets/characterpage_scene.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    border-radius: 30px;
    display: grid;
    grid-template-areas:
        "gold-profile . shopkeeper-img"
        ". middle ."
        ". bottom .";
    margin: 1rem;
    padding: 1rem;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.items{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 80vw;
    position: absolute;
    justify-content: start;
    bottom: 15vh;
    left: 10vw;
    animation: shop-item-intro 1.5s forwards;
}

@keyframes shop-item-intro{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

.shoppage_container>.background > .return-home-btn{
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: fit-content;
    font-size: 2vw;
}
.shoppage_container >.background > .return-home-btn > h5{
    margin: .25rem;
}

/*================= CHARACTER PROFILE ========================*/
.shoppage_container>.background>.character_gold_profile {
    grid-area: 'char-profile';
    display: flex;
    flex-direction: column;
    background-color: var(--color-orange);
    border-radius: 10px;
    border: 8px solid var(--color-yellow-orange);
    border-style: ridge;
    min-width: 10vw;
    max-width: 40vw;
    width: fit-content;
    overflow-x: scroll;
    height: fit-content;
    padding: 0.5rem;
    filter: drop-shadow(5px 5px 10px #000);

    animation: char-profile-intro;
    animation-duration: 1.5s;
    animation-timing-function: var(--transition-cubicbezier);
    animation-iteration-count: 1;
}
.character_gold_profile > h1{
    font-size: 2vw;
}
.character_gold_profile > h2{
    font-weight: 300;
    font-size: 5vw;
}
@keyframes char-profile-intro {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}