.player{
    animation: player-attack 0.3s forwards infinite;
    animation-play-state: paused;
    /* transform: translateX(650px); */
}
.player > .player-avatar{
    height: fit-content;
    width: 75px;
    bottom: 1rem;    
    overflow: hidden;
    position: relative;
}  

.player > .player-avatar > .player_spritesheet{
    min-width: 150px;
    animation: sprite-animation 1s steps(2) infinite;
}

.player > .player_sword{
    width: 60px;
    position: relative;
    right: -4rem;
    top: 8.5rem;
    transform: rotate(45deg);
    animation: player-sword-animation 1s steps(2) infinite;
}
@keyframes player-sword-animation{
    0%{
        transform: translateY(0px) rotate(45deg);
        filter: drop-shadow(0px 0px 5px var(--color-light-blue));
    }
    50%{
        transform: translateY(8px) rotate(45deg);
        filter: drop-shadow(0px 0px 10px var(--color-light-blue)) blur(0.5px);
    }
    100%{
        transform: translateY(0) rotate(45deg);
        filter: drop-shadow(0px 0px 5px var(--color-light-blue));
    }
}

@keyframes player-attack{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(650px);
    }
    100%{
        transform: translateX(0px);
    }
}