.battlepage-container > .battlepage-screen{
    background-color: #2F283A;
    background-image: url(../../assets/battle_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    justify-content: center;
    min-height: 700px;
}

.battlepage-screen > .return-home-btn{
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: fit-content;
    font-size: 1.5rem;
}
.battlepage-screen > .return-home-btn > h5{
    margin: .25rem;
}

/* BATTLE SCENE */
.battlepage-screen > .entity-space{
    display: flex;
    flex-direction: row;
    column-gap: 50rem;
    margin: 5% auto;
    height: fit-content;
    overflow: hidden;
    min-height: 350px;
    overflow: visible;
}

.battlepage-screen > .entity-space > div {
    position: relative;
    top: 8rem;
}
