.enemy-container > .enemy-avatar{
    /* bottom: -5rem;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    height: fit-content;
}
.enemy-container > .enemy-avatar > img{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}