.enemyavatar-container > img{
    margin-left: auto;
    margin-right: auto;
    transition: (var(--transition-cubicbezier));
    filter:drop-shadow(-15px -5px 5px #000);
}

#Sentinel{
    width: 350px;
}

#observer{
    width: 150px;
    margin-top: 7rem;
    animation: animation-observer;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#Metal-Slug{
    width: 150px;
    margin-top: 6.5rem;
    transform: scaleX(-1);
}

#steel-eagle{
    width: 200px;
    margin-top: 4rem;

    animation: animation-steeleagle;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#Drone{

}

.enemyavatar-container >  img:is(.damaged){
    filter: invert(100%);
    transform: scale(0.9);
    animation: animation-damaged;
    animation-duration: 0.3s;
    animation-timing-function: var(--transition-cubicbezier);
    animation-iteration-count: 1;
}

@keyframes animation-observer{
    0%   {transform: translateY(0);}
    50%  {transform: translateY(-10px);}
    100%  {transform: translateY(0);}
}
@keyframes animation-steeleagle{
    0%   {transform: translateY(0);}
    50%  {transform: translateY(-20px);}
    100%  {transform: translateY(0);}
}

@keyframes animation-damaged{
    0%   {transform: translateX(0) ;}
    50%  {transform: translateX(10px);}
    100%  {transform: translateX(0);}
}