/*================= MIDDLE CHARACTER ========================*/
.player-container > .character-avatar{
    /* bottom: -5rem;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 250px;
    height: fit-content;
}
