.messages-layout{
    display: flex;
    flex-direction: row;
}
.messages-container{
    height: 100px;
    width: 80%;
    background: var(--color-white);
    border: 3px;
    border-radius: 10px;
    border-style: inset;
    text-align: start;
    font-family: 'Montserrat', 'sans-serif';
    overflow: scroll;
    scroll-behavior: smooth;
}
.messages-container > p{
    width: 100%;
    margin: 0.5rem;
    color: var(--color-darkish-blue);
}

.messages-layout > .btn{
    position: relative;
    height:100px;
    width: 70px;
    margin-left: 0.5rem;
}
.messages-layout > .btn > img{
    width: 60px;
    height: 90px;
    margin-right: 1rem;
}