.messagebox-section{
    display: block;
}

.box > .messages-section{
    margin-left: 6rem;
}
.messages-section{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 700px;
    height: 325px;
}