.userprofile-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.userprofile-container >.stats-grp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.1vw;
    padding: .25rem;
}