.login-background{
    background-image: url(../../assets/login_page_background.png);
    min-height: 820px;
    min-width: fit-content;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.login-background  > .login-character-avatar{
    transform: scale(1.5);
    margin-top: -5rem;
}
.login-background > .box{
    position: relative;
    margin-inline: auto;
    left: 0;
    top: 20%;
    background: var(--color-orange);
    width: fit-content;
    overflow: visible;
    min-width: 600px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.login-background > .box::after{
    content: "";
    height: 50px;
    width: 50px;
    background: var(--color-orange);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}
.login-btn-group{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    column-gap: 1rem;
}
.login-btn-group > .btn{
    min-width: 60px;
    min-height: 30px;
    padding: 0.5rem;
}
.login-btn-group > .btn > h5{
    font-size: 1.2rem;
}
.login-character-avatar{
    margin-inline: auto;
}

.login > h3{
    color:var(--color-light-yellow);
    font-family: var(--alt-font);
    text-shadow: 4px 4px rgba(0,0,0,0.5);
    font-size: 4rem;
    animation: growing 1s forwards infinite;
}
@keyframes growing {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: hue-rotate(360deg);
        text-shadow:6px 10px rgba(0,0,0,0.5);
    }
}
.login{
    padding: 1rem;
}

label {
    display: inline-block;
    width: 150px;
    text-align: start;
    padding: 0.5rem;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-family: var(--font-main);
}

input {
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    font-family: var(--font-main);
}