.character-avatar{
    position: absolute;
    margin-top: 18%;
    width: 50%;
    display: flex;
    left: 45%;
}

.character-avatar > img{
    margin-right: auto;
    width: 25%;
    height: fit-content;
}